.footer {
  width: 100%;
  background-color: #121619;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: 30vh;
}

.socialMedia svg {
  color: white;
  font-size: 70px;
  cursor: pointer;
  margin: 10px;
}

.footer p {
  color: white;
}

.footer .about {
  height: auto;
  color: white;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 40vw;
  position: relative;
  bottom: 17vh;
}

.socialMedia {
  margin-left: 80vw;
  top: 100%;
}
