form {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30vh;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

.map-container {
  height: 30vh;
  margin: 20px;
  width: 30vw;
  position: absolute;
}

.mapa {
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
}

.mapDiv {
  margin-top: 200px;
}
